@charset "UTF-8";

body{
    background-color: wheat;
    font-family: Arial,Arial, Helvetica, sans-serif;
}

h1{
    color:purple;
}

h1#principal{
    text-align: center;
    background-color: yellow;
}

h2{
    color:tomato
}

h2.basico{
    color:tomato
}

h2.intermediario{
    color:deepskyblue
}

h2.avançado{
    color:greenyellow
}

.destaque{
    text-shadow: 1px 2px 1px gray;
}